{% if page.collection %}
  {% assign links = site[page.collection] | sort: 'order'  %}
{% endif %}

{% for link in links %}
    {% if link.title == page.title %}
        {% unless forloop.first %}
            {% assign prev = tmpprev %} 
        {% endunless %}
        {% unless forloop.last %}
            {% assign next = links[forloop.index] %}
        {% endunless %}
    {% endif %}
    {% assign tmpprev = link %}
{% endfor %} 

<div class="project-nav">
{% if prev %}
    <a class="prev" href="{{prev.url}}"><span class="fas fa-angle-left"></span> Previous</a>
{% endif %}
{% if next %}
    <a class="next" href="{{next.url}}">Next <span class="fas fa-angle-right"></span></a>
{% endif %}
</div>


