<header>
  <nav role="navigation" aria-label="main navigation">

      <a href="{{site.url }}">
        <img src="{{site.url }}/assets/logo.png" alt="Aliyah Northington's portfolio logo" class="logo">
      </a>
      
      <div class="menu">
        {% assign nav = (site.pages | sort: 'order') %}
        {% for link in nav %}
        {% if link.title %}
          <a href="{{ link.url }}" class="nav-links {% if link.url == page.url %} active {% endif %}">{{ link.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
      
    </div>
  </nav>
</header>
