.about h2 {
    color: $color-main;
}
.me {
    max-width: 150px;
    border-radius: 50%;
    transform: rotate(-20deg);
}

.about-button {
    font-family: $copy;
    font-weight: 300;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: $color-main;
    color: $white;
    border: 0;
    transition: all .5s linear;
    display: inline-block;
    &:hover{
        opacity: 0.75;
    
    }
}