.sayhey {
    width: 100%;
    max-width: 350px;
    padding-bottom: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    max-width: 350px;
    margin-bottom: 1rem;
    a {
        color: $color-main;
        padding: 1rem;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    input[type="text"], input[type="email"], textarea {
        padding: 0.8rem;
        border-radius: 3px;
        border: 0;
        background: $formgray;
        color: $gray;
        margin-bottom: 1rem;
        font-family: $copy;
        font-weight: 300;
    }
    .contact-button {
        max-width: 85px;
        font-family: $copy;
        font-weight: 300;
        cursor: pointer;
        padding: 0.5rem 0.8rem;
        border-radius: 3px;
        background-color: $color-main;
        color: $white;
        border: 0;
        transition: all .5s linear;
        &:hover{
            opacity: 0.75;
        
        }
    }
}