html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.site {
    display: flex;
    min-height: 100vh;
    height: 100%;
    max-width: 75rem;
    margin: 0 auto;
    flex-direction: column;
    .site-content {
        flex: 1;
        .container {
            padding: 1.5rem;
            @media screen and (min-width: 400px) {
                padding: 2rem;
            }
        }
    }
}