nav {
    padding: 1.5rem 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        max-width: 90px;
        width: 100%;
        height: auto;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        width: 220px;
        .nav-links {
            font-family: $headers;
            font-size: 1.1rem;
            color: $gray;
            border-bottom: 2px solid transparent;
            transition: all .15s ease-in-out;
            &:hover {
                color: $color-main;
            }
        }
        .active {
            border-color: $color-main;
            color: $gray !important;
        }
    }
    @media screen and (min-width: 400px) {
        padding: 2rem 2rem 0;
    }
}


