.navbar{
    padding-top: 1rem;
    font-family: $headers;

    .navbar-item{
        img{
            max-height: 100%;
        }
    }
    .navbar-burger{
        margin-top: 2rem;

        &:hover{
            color: $color-main;
            background-color: transparent;
        }
    }

    .nav-links{
        a{
            color: $color-main;
            font-family: $headers;
        }
    }
}
