h1, h2, h3, h4, h5 {
    font-family: $headers;
    color: $gray;
    font-weight: normal;
}

h1 {
    margin: 1rem 0 2rem;
}

p, a {
    font-family: $copy;
    line-height: 1.5rem;
    font-weight: 300;
}

a {
    color: $color-main;
    text-decoration: none;
    transition: all .15s ease-in-out;
    &:hover {
        color: $gray;
    }
}