.navbar{
    padding-top: 1rem;

    .navbar-item{
        img{
            max-height: 100%;
        }
    }
    .navbar-burger{
        margin-top: 2rem;

        &:hover{
            color: #a06789;
            background-color: transparent;
        }
    }
}