---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "../_sass/variables";
@import "../_sass/layout";
@import "../_sass/typography";
@import "../_sass/nav";
@import "../_sass/home";
@import "../_sass/footer";
